:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
*{
  margin: 0;
  padding: 0;
}
.nav-container{
  height: 54px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.logo{
  height: 29px;
  width: 150px;
  object-position: center;
}
.btn-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-icon{
  font-size: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* border: 1px solid rgb(149, 144, 144); */
  text-align: center;
  align-content: center;
  color: black;
}
.shop-icon{
  font-size: 16px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* border: 1px solid rgb(149, 144, 144); */
  text-align: center;
  align-content: center;
  color: black;
}

.join{
  font: 600;
  font-size: 16px;
  padding: .50rem .70rem;
  background-color: #009f7f;
  border: none;
  color: white;
  border-radius: 5px;

}
.seller{
  font: 600;
  font-size: 16px;
  padding: .50rem .70rem;
  background-color: #009f7f;
  border: none;
  color: white;
  border-radius: 5px;

}
.hero-container{
  padding: 18px 30px;

}
.hero{
  height: 50%;
  width: 100%;
  object-position: center;
  -o-object-fit: cover;
  border-radius: 8px;
}

  .book-container {
    padding: 10px 40px;
    background-color: #009f7f;
    width: 92%;
    display: flex;
    justify-content: center; /* or center, depending on your layout preference */
    align-items: center; /* aligns items to the top */
    gap: 2rem;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if necessary */
  }
  .sell-book{
    margin-left: 40px;
  }


.book-img {
  height: 230px;
  width: 160px;
  object-fit: cover;
  object-position: center;
  padding: 20px 0px 5px 0px;
}

.book-title {
  font-weight: 600;
  font-size: 15px;
  color: rgb(7, 4, 38);
  width: 160px;
  word-wrap: break-word;
}

.books-item {
  height: 230px;
  width: 160px;
  padding: 2rem 0px;
}


